@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;550;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo{
    font-size: 2.3rem;
    color: white;
    user-select: none;
    display: flex; 
    align-items: center; 
}

.logo img {
    margin-right: 10px; 
}

.navegation a{
    position: relative;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegation .btn{
    width: 140px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    margin-left: 40px;
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.164);
    align-items: center;
   
}

.frame{
    height: 440px;
    width: 400px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.frame2{
    height: 480px;
    width: 400px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.frame3{
    height: 550px;
    width: 400px;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.login{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-bottom: 2.5rem;
}

.empresa, .producto, .usuario , .email,.password{

    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    position: relative;

}

.empresa input, .producto input, .usuario input, .email input, .password input{
    padding: 8px 8px 8px 15px;
    background: transparent;
    border: none;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    font-weight: bold;
    color: white;
}

.empresa input::placeholder, .producto input::placeholder,  .usuario input::placeholder, .email input::placeholder, .password input::placeholder{
    color: white;
}

.empresa img, .producto img, .usuario img, .email img, .password img{
    position: absolute;
    right: 0.7rem;
}

.remember_forgot{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.remember_forgot2{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}


.remember_forgot .remember{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.remember_forgot .remember input{
    height: 15px;
    width: 15px;
    margin-right: 0.2rem;
}

.remember_forgot .forgot a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.remember_forgot2 .forgot2 a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align:center;
    justify-content: center;
}

.log{
    width: 90%;
    padding: 10px;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.reg{
    margin-top: 1.5px;
    color: white;
}

.reg a{
    font-weight: bold;
    color: white;
}
.forgot {
    font-size: 12px;
}